*~
*.pyc

# Configuration files
.pre-commit-config.yaml
.DS_store
.vscode

# Benchmarking simulator configuration files.
/*.conf
/*.csv
/*.json
/*.log
/*.dot
/*.png

# Virtual environment.
venv
env

# ILP programs and solutions.
*.lp
*.sol
