*~
*.pyc

# Configuration files
.pre-commit-config.yaml
.DS_store
.vscode

# Benchmarking simulator configuration files.
/*.conf
/*.csv
/*.json
/*.log
/*.dot
/*.png
/*.pdf

# Virtual environment.
venv
env

# ILP programs and solutions.
*.lp
*.sol

# Ignore build of tetrisched
schedulers/tetrisched/build/*

#Ignore test.yaml file
test.yaml

