# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-python:
    name: "Python ${{ matrix.python-version }} Build"
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        python-version: [3.7]

    steps:
      - uses: actions/checkout@v2
      
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tests/requirements.txt
          pip install flake8
      
      - name: Check Python imports
        uses: isort/isort-action@master
        with:
          configuration: "--check-only --diff --profile black"

      - name: Check Black formatting
        uses: psf/black@stable
        with:
          options: "--check --diff --color"

      - name: Check Flake8 compatibility
        run: |
          flake8 --inline-quotes="double" ./

      - name: Run Tests
        run: |
          python -m pytest tests/
